<template name="TabMenu">
	<div id="tabMenu-container">
		<div class="tab-section">
			<a href="/products">
				<div class="cart-tab">
					<span class="tab-icon product-icon"></span>
					<span class="prodotti-tab-title">Prodotti</span>
				</div>
			</a>
		</div>
		<div class="tab-section tab-section-central">
			<a href="/cart">
				<div class="cart-tab">
					<span class="tab-icon cart-icon"></span>
					<span class="prodotti-tab-title">Carrello</span>
				</div>
			</a>
		</div>
		<div class="tab-section">
			<div class="cart-tab" id="search-tab">
				<span class="tab-icon search-icon"></span>
				<span class="prodotti-tab-title">Cerca</span>
			</div>
		</div>
	</div>
</template>