<template name="TabMenu">
	<div id="tabMenu-container">
		<div class="tab-section">
			<div class="cart-tab">
				<span class="prodotti-icon"></span>
				<span class="prodotti-tab-title">Prodotti</span>
			</div>
		</div>
		<div class="tab-section tab-section-central">
			<div class="cart-tab">
				<span class="cart-icon"></span>
				<span class="prodotti-tab-title">Carrello</span>
			</div>
		</div>
		<div class="tab-section">
			<div class="cart-tab">
				<span class="search-icon"></span>
				<span class="prodotti-tab-title">Cerca</span>
			</div>
		</div>
	</div>
</template>